$max-width: 1920px;
$min-width: 320px;

$dark-gray: #AEAEAE;
$light-gray: #bdbdbd;
$text-gray: #5D5D5D;
// $border-gray: #e1e1e1;
$border-gray: #ededed;
$border-dark-gray: #dbdbdb;
$border-purple: #A695FF;
$blue: #28BFFF;
$light-blue: #E5F7FF;
$purple: #7164C6;
$light-purple: #EFEDF9;
$green: #2DA757;
$light-green: #DFFFDE;
$red: #FF8080;
$light-red: #FFEDED;
$yellow: #FFE0B2;
$light-yellow: #FFF8E7;