.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: min(2.3rem, 1.8vw);

    .title {
        h1 {
            font-size: min(2.6rem, 2.2vw);
            font-weight: 600;

            span {
                font-weight: 500;
            }
        }

        p {
            margin-bottom: min(1.6rem, 1.3vw);
            font-size: min(1.22rem, 1vw);
            color: $dark-gray;

            .crumbsLast {
                color: #000;
            }
        }
    }

    .timeAndButton {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .timeAndIcon {
            color: $dark-gray;
            display: flex;
            align-items: center;
            font-size: min(1.1rem, .9vw);
            border: 1px solid $border-dark-gray;
            padding: min(.8rem, .6vw) min(1.5rem, 1.2vw);
            border-radius: 13px;
            font-weight: 500;

            svg {
                margin-right: min(.7rem, .5vw);
                font-size: min(1.9rem, 1.6vw);
            }

        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: min(.8rem, .6vw) min(1.8rem, 1.4vw);
            font-size: min(1.25rem, 1.1vw);
            border-radius: 10px;
            background-color: #000;
            color: #fff;
            margin-left: min(1rem, .8vw);
            transition: all .3s ease-in-out;

            &:hover {
                background-color: #fff;
                color: #000;
                cursor: pointer;
            }

            svg {
                margin-right: min(.5rem, .4vw);
                font-size: min(1.5rem, 1.3vw);
            }
        }
    }
}