.login {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 8% auto;
    align-items: center;
    justify-content: center;
    padding: 0 min(5rem, 4.5vw);

    .leftSection {
        // background-color: #f5f5f5;
        // border: #bdbdbd 1px solid;
        // border-radius: 0.5rem;
        // padding: min(1.2rem, 1vw) min(2rem, 1.7vw);

        .zapper {
            display: flex;
            align-items: center;
            gap: min(1.5rem, 1.2vw);
            font-size: min(2.5rem, 2.1vw);
            margin-bottom: min(2rem, 1.7vw);
        }

        .signup {
            .headline {
                font-size: min(2.7rem, 2.3vw);
                margin-bottom: min(1.6rem, 1.3vw);
            }

            .subHeadline {
                font-size: min(1.4rem, 1.2vw);
                margin-bottom: min(2.2rem, 1.8vw);
            }



            .form {

                .input {
                    margin-bottom: min(2.7rem, 2.3vw);

                    input {
                        background-color: transparent;
                        display: block;
                        height: min(4rem, 3.4vw);
                        border: none;
                        border-bottom: 2px solid #b4b4b4;
                        margin-bottom: min(1.6rem, 1.3vw);
                        font-size: min(1.3rem, 1.1vw);
                        width: 100%;
                        transition: border-bottom 0.3s ease-in-out;

                        &:focus {
                            outline: none;
                            border-bottom: 2px solid #000;
                        }
                    }

                    .error {
                        border-bottom: 2px solid #f43f5e;
                    }

                }

                .create {
                    background-color: #000;
                    color: #fff;
                    padding: min(1.3rem, 1.1vw) min(3.5rem, 3vw);
                    font-size: min(1.35rem, 1.1vw);
                    border-radius: 0.5rem;
                    border: 1px solid #000;
                    cursor: pointer;
                    width: 100%;
                    margin-bottom: min(.7rem, .6vw);
                    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

                    &:hover,
                    &:focus {
                        background-color: #fff;
                        color: #000;
                    }
                }

            }

            .google {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: min(1rem, .8vw);
                background-color: transparent;
                border: 1px solid #bbbbbb;
                padding: min(1.3rem, 1.1vw) min(3.5rem, 3vw);
                font-size: min(1.35rem, 1.1vw);
                border-radius: 0.5rem;
                cursor: pointer;
                width: 100%;
                margin-bottom: min(1.9rem, 1.6vw);
                transition: border 0.3s ease-in-out;

                &:hover {
                    border: 1px solid #000;
                }
            }



            .already {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: min(1rem, .8vw);
                font-size: min(1rem, .8vw);

                button {
                    background-color: transparent;
                    border: none;
                    font-size: 1rem;
                    font-size: min(1rem, .9vw);
                    font-weight: 600;
                    cursor: pointer;
                    transition: color 0.3s ease-in-out;
                    border-bottom: 1px solid #000000;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }

    .or {

        grid-column: 2/2;
        font-size: min(2rem, 1.7vw);
        font-weight: 600;

    }

    .rightSide {
        grid-column: 3/3;

        .demoText {
            font-size: min(2.7rem, 2.3vw);
            margin-bottom: min(3rem, 2.5vw);
        }

        .roles {
            display: flex;
            gap: min(1rem, .8vw);
            width: 100%;
            margin-bottom: min(3rem, 2.5vw);

            button {
                background-color: transparent;
                border: 1px solid #c9c9c9;
                padding: min(1.3rem, 1.1vw) min(3rem, 2.5vw);
                font-size: min(1.35rem, 1.1vw);
                border-radius: 0.5rem;
                width: 100%;
                cursor: pointer;
                transition: border-color 0.3s ease-in-out, ;

                &:hover {
                    border-color: #000;
                }

                &.active {
                    border-color: #000;
                }
            }
        }

        .continue {
            background-color: #000;
            color: #fff;
            border: none;
            padding: min(1.3rem, 1.1vw) min(3.5rem, 3vw);
            font-size: min(1.35rem, 1.1vw);
            border-radius: 0.5rem;
            border: 1px solid #000;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

            &:hover,
            &:focus {
                background-color: #fff;
                color: #000;
            }
        }

        .demoRoles {
            display: flex;
            gap: min(1.7rem, 1.4vw);
            margin-bottom: min(2.2rem, 1.9vw);

            .demoRole {

                h4 {
                    font-size: min(1.5rem, 1.3vw);
                    margin-bottom: min(1.2rem, 1vw);
                }

                p {
                    font-size: min(1.4rem, 1.2vw);
                    margin-bottom: min(2.2rem, 1.8vw);
                    line-height: 1.3;
                }
            }
        }
    }


}