.menu {
    position: fixed;
    top: min(2.5rem, 2vw);
    left: min(2.2rem, 1.6vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;

    .logo {
        font-size: min(2.5rem, 2vw);
        font-weight: 400;
        margin-bottom: min(5rem, 4vw);
    }

    .icon {
        color: $dark-gray;
        font-size: min(2rem, 1.6vw);
        margin-bottom: min(3rem, 2.4vw);
    }
}