.lineDivider {
    width: 100%;
    height: 1.5px;
    background-color: $border-gray;
    margin-top: min(1rem, .8vw);
}

.ProfileInfoAndOverview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6rem;
    gap: 10rem;

    .overview {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 4rem;

        .overviewCard {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 18rem;

            .overviewItem {
                padding: min(1rem, .8vw) min(1.5rem, 1.2vw);
                padding-right: min(3.5rem, 2.8vw);
                border: 2px solid $border-gray;
                border-radius: 10px;

                .overviewItemTitle {
                    font-size: min(1.5rem, 1.3vw);
                    font-weight: 500;
                    margin-bottom: min(3.4rem, 2.8vw);
                    // letter-spacing: .4px;
                }

                .overviewItemContent {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;

                    p {
                        font-size: min(3rem, 2.5vw);
                        font-weight: 600;

                        span {
                            font-size: min(1.5rem, 1.3vw);
                            font-weight: 400;
                        }
                    }


                }

            }

        }
    }

    .profileInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: min(1rem, .8vw);

        .role {
            font-size: min(1.5rem, 1.3vw);
            font-weight: 500;
        }

    }
}