.search {
    display: flex;
    justify-content: space-between;
    margin-top: min(.4rem, .3vw);
    margin-bottom: min(3.5rem, 2.8vw);

    .searchInput {
        border-radius: 5px;
        outline: none;
        font-size: min(2rem, 1.6vw);
        display: flex;
        align-items: center;
        color: $dark-gray;

        button {
            all: unset;
            margin-top: min(.2rem, .15vw);
        }

        input {
            border: none;
            outline: none;
            font-size: min(1.3rem, 1.1vw);
            padding-left: min(.8rem, .7vw);

            &::placeholder {
                color: $dark-gray;
                font-weight: 400;
            }
        }
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: min(13rem, 10.5vw);
        font-size: min(2.5rem, 2vw);
        color: $dark-gray;

        .notificationGear {
            font-size: min(1.7rem, 1.4vw);
            display: flex;
            justify-content: space-between;
            width: min(5.5rem, 4.5vw);
        }

        .profile {
            font-size: min(1.7rem, 1.4vw);
            position: relative;
        }


    }
}

.profileButton {
    all: unset;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.profileMenu {
    position: absolute;
    right: 0;
    top: calc(100% + min(.6rem, .5vw));
    background: #fff;
    border: 1px solid $border-gray;
    border-radius: 12px;
    padding: min(.4rem, .3vw);
    min-width: 8.5rem;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
    z-index: 5;
}

.profileMenuItem {
    all: unset;
    width: 100%;
    display: block;
    padding: min(.7rem, .5vw) min(.9rem, .7vw);
    font-size: min(1.1rem, .9vw);
    color: $dark-gray;
    border-radius: 10px;
    cursor: pointer;
}

.profileMenuItem:hover {
    background-color: $light-purple;
    color: #000;
}
